@import 'variables.scss';

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused {
  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: $primary;
  }

  .mdc-floating-label {
    color: $primary;
    letter-spacing: normal;
  }

  div.mdc-notched-outline__notch {
    label.mdc-floating-label.mat-mdc-floating-label {
      overflow: initial;
      mat-label {
        background: linear-gradient(transparent, $secondary-90);
        padding-right: 5px;

        .dialog-content & {
          background: linear-gradient(white, $secondary-90);
        }
      }
    }
  }
}

.mat-mdc-text-field-wrapper {
  background-color: $secondary-90 !important;
}

span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline {
  border-color: $primary;
}

::ng-deep mat-error {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: $red;
}
