$background: #b4b4b4;

$primary: #11397e;

$secondary: #0090bd;
$secondary-10: #7abfd4;
$secondary-40: #d0d9df;
$secondary-50: #e1e5eb;
$secondary-60: #e9edf1;
$secondary-80: #f1f3f6;
$secondary-90: #f4f6f9;

$neutral:#1C1B1F;
$neutral-10:#49454F;
$neutral-20: #454A53;
$neutral-30:#74767A;
$neutral-40:#74767a99;
$neutral-50: #00000040;
$neutral-60:#CECECE;
$neutral-70:#74767a33;
$neutral-80:#F5F5F5;
$neutral-90:#f1f3f626;
$neutral-100:#FFFFFF;

$red: #b3261e;
$red-30: #b3261e4d;

$yellow: #f1c933;
$yellow-30: #f1c9334d;

$green: #7f8906;
$green-30: #7f89064d;

$gradient: linear-gradient(108.75deg, #0090bd 59.91%, #073590 95.36%);

/* styles for shadow -- background: #D9D9D9;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); */

$border-radius: 4px;
