<span class="date" [ngClass]="{ unaviable, selected }">{{ value?.startDate | date : 'd MMM ' }}</span>
<span class="dayOfWeek" [ngClass]="{ selected }">{{ value?.startDate | date : 'EEEE' }}</span>
<img *ngIf="unaviable && !selected" class="img-unaviable" [ngClass]="{selected}" src="/assets/flight_unaviable.svg" />
<img *ngIf="unaviable && selected" class="img-unaviable" [ngClass]="{selected}" src="/assets/flight_unaviable_s.svg" />

<span *ngIf="!unaviable" class="money" [ngClass]="{selected }">{{ money | currency : currencyFormat : 'symbol-narrow' }}</span>
<div *ngIf="selected" [ngClass]="{ unaviable, selected }" class="border"></div>
