@import 'src/app/styles/common.scss';

:host {
  display: block;
  .login-form {
    display: flex;
    flex-direction: column;
  }
}

.password-restore {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $primary;
  text-align: end;
  margin-bottom: 20px;
}


.form-input {
  margin-bottom: 20px;
}
