<app-request-info [showEdit]="true" (showEditForm)="onShowEditForm()"></app-request-info>
<div class="contentWrapper">
  <div class="content">
    <form *ngIf="showEditForm" class="edit-form"></form>
    <ng-container *ngIf="true">
      <app-suggestion class="there" [value]="airResponse?.thereWay" [formats]="formats"></app-suggestion>
      <app-suggestion class="back" *ngIf="airResponse?.backWay" [from]="true" [value]="airResponse?.backWay" [formats]="formats"> </app-suggestion>
      <div class="buttons-wrapper">
        <button class="button white" mat-button color="primary" (click)="backClick()">
          <span class="button-text">Back</span>
        </button>
        <button class="button" mat-raised-button color="primary" (click)="continueClick()">
          <span class="button-text white">Continue</span>
        </button>
      </div>
    </ng-container>
  </div>
</div>
