@import 'src/app/styles/common.scss';

$header-height: 88px;
$footer-height: 92px;

.header {
  // background-color: aquamarine;
  background: rgba(116, 118, 122, 0.2);
  min-height: $header-height;
}

.main {
  min-height: calc(100vh - $header-height - $footer-height);
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: $neutral-80;
  min-height: $footer-height;
  border-top: 1px solid $secondary-40;
}
