@import './../app/styles/variables.scss';

$header-height: 88px;
$footer-height: 92px;


.header {
  background-color: aquamarine;
  min-height: $header-height;
}

.main {
  min-height: calc(100vh - $header-height - $footer-height);
}

.footer {
  background-color: $neutral-80;
  min-height: $footer-height;
}

