<ng-container *ngIf="value">
  <div class="flight-info">
    <img [ngClass]="{ img: true, from: from }" src="/assets/airplane1.svg" />
    <span class="text">{{ fromText }}</span>
    <span class="text">to</span>
    <span class="text">{{ toText }}</span>
  </div>

  <!-- <div class="mins">
    <app-flight-min-info [value]="value[0]" [formats]="formats"></app-flight-min-info>
    <app-flight-min-info [value]="value[1]" [formats]="formats"></app-flight-min-info>
    <app-flight-min-info [value]="value[2]" [formats]="formats" [selected]="true"></app-flight-min-info>
    <app-flight-min-info [value]="value[3]" [formats]="formats"></app-flight-min-info>
    <app-flight-min-info [value]="value[4]" [formats]="formats"></app-flight-min-info>
  </div>
  <app-flight-full-info class="full" [formats]="formats" [value]="value[0]"></app-flight-full-info>
  <app-flight-full-info class="full" [formats]="formats" [value]="value[1]" [isReturn]="true" [selected]="true"></app-flight-full-info>
  <app-flight-full-info class="full" [formats]="formats" [value]="value[2]"></app-flight-full-info> -->

  <!-- <ngx-slick-carousel
    class="carousel flight-carousel1"
    #slickModal="slick-carousel"
    [config]="slideConfig1"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of value; let i = index" class="slide">
      <app-flight-min-info (click)="slickModal.slickGoTo(i)" [value]="slide" [formats]="formats"></app-flight-min-info>
    </div>
  </ngx-slick-carousel>
  <ngx-slick-carousel
    class="carousel flight-carousel2"
    #slickModal="slick-carousel"
    [config]="slideConfig2"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
    <app-flight-full-info *ngFor="let slide of value" class="full" [formats]="formats" [value]="slide"></app-flight-full-info>
  </ngx-slick-carousel> -->

  <div class="feedback-slides">
    <div class="client-feedback">
      <ngx-slick-carousel class="carousel feedback" #slickModal="slick-carousel" [config]="from ? imagesSliderBack : imageSliderThere">
        <div ngxSlickItem *ngFor="let slide of value; let i = index" class="slide">
          <app-flight-min-info (click)="slickModal.slickGoTo(i)" [value]="slide" [formats]="formats"></app-flight-min-info>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>

  <div class="client-thumbnails">
    <ngx-slick-carousel
      class="carousel thumbs"
      [ngClass]="{ back: from, there: !from }"
      #slickModal="slick-carousel"
      [config]="thumbnailsSlider">
      <div ngxSlickItem *ngFor="let slide of value; let i = index" class="slide">
        <app-flight-full-info class="full" [formats]="formats" [value]="slide"></app-flight-full-info>
      </div>
    </ngx-slick-carousel>
  </div>
</ng-container>
