@import 'src/app/styles/common.scss';

:host {

  @include flex(flex, column, flex-start, initial, nowrap, 8px);

  .flight-info {
    @include flex(flex, row, flex-start, center, nowrap, 12px);
    height: 44px;

    .img.backWay {
      transform: rotateY(180deg);
    }
  }

  .mins {
    @include flex(flex, row, center, center, nowrap, 12px);
  }

  .full {
    margin-top: 9px;
    width: 100%;
  }

  .unclickable {
    pointer-events: none;
  }

  .hidden1 {
    visibility: hidden;
    display: none;
  }

  .slide {
    height: 88px;
    @include flex(flex, column, flex-end, stretch, nowrap, 0px);
    
    .selected {
      height: initial;
    }
  }
}

::ng-deep .flight-suggestion {
  button.slick-arrow.slick-prev {
    left: 0;
    top:52px;
    z-index: 10;
  }

  button.slick-arrow.slick-next {
    right: 0;
    top:52px;
    z-index: 10;
  }

  button.slick-prev:before,
  button.slick-next:before {
    color: $secondary;
  }
}


