<header class="contentWrapper app-header" [ngClass]="{notMainPage: !isMainPage}">
  <div class="info-container">
    <img class="img-logo" src="/assets/logo.svg" (click)="onLogoClick()"/>
    <mat-stepper *ngIf="showStepper; else elseStepper"   [linear]="true" #stepper (selectionChange)="log($event)" class="stepper">
      <mat-step label="Flights" [state]="myStep.s1" > </mat-step>
      <mat-step label="Passengers" [state]="myStep.s2"> </mat-step>
      <mat-step label="Review & Payment" [state]="myStep.s3"> </mat-step>
    </mat-stepper>

    <ng-template #elseStepper>
      <div class="else-stepper">Book flights</div>
    </ng-template>

  </div>
  <div class="controls-container">
    <div class="group-container">
      <mat-form-field appearance="fill" class="data-format-select-wrapper" subscriptSizing="dynamic">
        <mat-select class="custom-select" [value]="(commonState | async)?.dateFormat" (selectionChange)="onChangeDataFormat($event)">
          <mat-option *ngFor="let item of datas" [value]="item.value">
            {{ item.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="money-select-wrapper" subscriptSizing="dynamic">
        <mat-select
          class="money-select"
          panelClass="money-select"
          [value]="(commonState | async)?.moneyFormat"
          (selectionChange)="onChangeMoneyFormat($event)">
          <mat-option *ngFor="let item of moneys" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="group-container">
      <button mat-stroked-button class="sing-in-button" (click)="openDialog()"><mat-icon>account_box</mat-icon>Sign in</button>
      <button mat-stroked-button class="cart-button"><mat-icon>shopping_basket</mat-icon></button>
    </div>
  </div>
</header>
